# Syntax is "set_io <signal name> <package pin>"
# Note the pin is the real package pin, not the "IOT_123"-style label.

# ArcDVI v2.0 HX4K TQFP144

set_io  clk_in          49
set_io  led             38

set_io  v_clk           17
set_io  v_hsync         2
set_io  v_vsync         1
set_io  v_de            3
set_io  v_rgb[0]        4
set_io  v_rgb[1]        7
set_io  v_rgb[2]        8
set_io  v_rgb[3]        9
set_io  v_rgb[4]        10
set_io  v_rgb[5]        11
set_io  v_rgb[6]        12
set_io  v_rgb[7]        15
set_io  v_rgb[8]        16
set_io  v_rgb[9]        18
set_io  v_rgb[10]       19
set_io  v_rgb[11]       20
set_io  v_rgb[12]       21
set_io  v_rgb[13]       22
set_io  v_rgb[14]       23
set_io  v_rgb[15]       24
set_io  v_rgb[16]       25
set_io  v_rgb[17]       26
set_io  v_rgb[18]       28
set_io  v_rgb[19]       29
set_io  v_rgb[20]       31
set_io  v_rgb[21]       32
set_io  v_rgb[22]       33
set_io  v_rgb[23]       34

# CEC clock output
set_io  v_cec_clk  	37

# SPI from MCU:
set_io  spi_clk         70
set_io  spi_ncs         71
set_io  spi_din         68
set_io  spi_dout        67

set_io	vidc_nvidak	121
set_io	vidc_nsndak	122
set_io	vidc_ckin	120
set_io	vidc_flybk	119
set_io	vidc_nvidrq	117
set_io	vidc_nsndrq	118

set_io	vidc_nhs	115
set_io	vidc_nvcs	116
set_io	vidc_nvidw	114

set_io	vidc_d[0]	73
set_io	vidc_d[1]	74
set_io	vidc_d[2]	75
set_io	vidc_d[3]	76
set_io	vidc_d[4]	78
set_io	vidc_d[5]	79
set_io	vidc_d[6]	80
set_io	vidc_d[7]	81
set_io	vidc_d[8]	82
set_io	vidc_d[9]	83
set_io	vidc_d[10]	84
set_io	vidc_d[11]	85
set_io	vidc_d[12]	87
set_io	vidc_d[13]	88
set_io	vidc_d[14]	90
set_io	vidc_d[15]	91
set_io	vidc_d[16]	93
set_io	vidc_d[17]	94
set_io	vidc_d[18]	95
set_io	vidc_d[19]	96
set_io	vidc_d[20]	97
set_io	vidc_d[21]	98
set_io	vidc_d[22]	99
set_io	vidc_d[23]	101
set_io	vidc_d[24]	102
set_io	vidc_d[25]	104
set_io	vidc_d[26]	105
set_io	vidc_d[27]	106
set_io	vidc_d[28]	107
set_io	vidc_d[29]	110
set_io	vidc_d[30]	112
set_io	vidc_d[31]	113

